[submodule "kernel/printf"]
	path = kernel/printf
	url = https://github.com/eyalroz/printf
[submodule "kernel/freestanding-headers"]
	path = kernel/freestanding-headers
	url = https://github.com/mintsuki/freestanding-headers
[submodule "kernel/src/lib/cc-runtime"]
	path = kernel/src/lib/cc-runtime
	url = https://github.com/mintsuki/cc-runtime
